*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	background-image: url('../images/big3.jpg');
	background-repeat: repeat;
	background-position: center top;
	background-attachment: absolute;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	/*
	min-width: 800px;
	*/
}
.menu {
	position: absolute;
	left:-15%;
	margin-left: 20px;
	/*
	margin-right: auto;
	margin-left:-480px;
	*/
	z-index: 100;
	width: 171px;
	height: 141px;
	/*
	top: 270px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	*/
}


.main {
/*
	display: block;
	
	height: auto;
	box-shadow: 0px 0px 35px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;


	width: 800px;
	*/
	
	position: relative;
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	/*padding-bottom: 30px;*/
	background-color: #060606;
	color: #ffffff;
}
/*
.main:before,
.main:after {
	content: '';
	position: absolute;
	top: 0;
	
	width: 40px;
	height: 100%;
}
.main:before {
	right: 100%;
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.main:after {
	left: 100%;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
*/


.main .slider {
	width: 80%;
	/*
	max-width: 1024px;
	*/
	height: auto;
}

.main .slider img {
	display: block;
	width: 100%;
	height: auto;
	/*max-height: 229px;*/
}

/*
.main .slider {
	width: 100%;
	max-height: 229px;
}
.main .slider img {
	display: block;
	width: 100%;
	max-height: 229px;
}
*/
.main .copy {
	font-size: 14px;
	font-family: 'Verdana', 'Helvetica', 'Arial',  sans-serif;
	text-align: center;
	line-height: 15px;
	color: #b8b8b8;
	margin-top: 30px;
	/*
	letter-spacing: 0.55em;
	*/
}
.main .content {
	margin: 55px auto 0 auto;
	padding: 0 0px;
}
.main .content .entry {
	margin-top: 5px;
}
.main .content .entry .title {
	font-size: 18px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 24px;
	color: #080808;
	letter-spacing: 0.2em;
}
.main .content .entry .photo {
	display: block;
	width: 100%;
	height: auto;
	background-color: yellow;
	box-shadow: 0px 0px 35px black;
}

.photosh {
	display: block;
	/*width: 800px;*/
	width: 80%;
	max-width: 960px;
	height: auto;
	box-shadow: 0px 0px 35px black;
	box-shadow: 0px 0px 35px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	/*
	position: relative;
	padding-bottom: 30px;
	width: 800px;
	*/
}

.photopad {
	display: block;
	/*width: 800px;*/
	width: 80%;
	max-width: 960px;
	height: auto;
	box-shadow: 0px 0px 35px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	/*
	position: relative;
	padding-bottom: 30px;
	width: 800px;
	*/
}
